name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: ./.github/actions/install-rust
      with:
        toolchain: stable
    - run: cargo fmt --all -- --check

  check:
    name: Check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [msrv, stable, nightly]
        include:
          - build: msrv
            os: ubuntu-latest
            rust: 1.63
          - build: stable
            os: ubuntu-latest
            rust: stable
          - build: nightly
            os: ubuntu-latest
            rust: nightly

    env:
      # -D warnings is commented out in our install-rust action; re-add it here.
      RUSTFLAGS: -D warnings
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: ./.github/actions/install-rust
      with:
        toolchain: ${{ matrix.rust }}

    - run: rustup target add x86_64-apple-darwin wasm32-unknown-unknown
    - run: cargo check --workspace --release -vv --target=x86_64-apple-darwin
    - run: cargo check --workspace --release -vv --target=wasm32-unknown-unknown

  check_nightly:
    name: Check on Rust nightly
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [nightly]
        include:
          - build: nightly
            os: ubuntu-latest
            rust: nightly

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: ./.github/actions/install-rust
      with:
        toolchain: ${{ matrix.rust }}
    - run: >
        rustup target add
        wasm32-wasip2
    - run: cargo check --workspace --release -vv --target=wasm32-wasip2 --all-targets

  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [ubuntu-nightly, windows-nightly, ubuntu-stable, windows-stable, macos-nightly, macos-stable]
        include:
          - build: ubuntu-nightly
            os: ubuntu-latest
            rust: nightly
          - build: windows-nightly
            os: windows-latest
            rust: nightly
          - build: macos-nightly
            os: macos-latest
            rust: nightly
          - build: ubuntu-stable
            os: ubuntu-latest
            rust: stable
          - build: windows-stable
            os: windows-latest
            rust: stable
          - build: macos-stable
            os: macos-latest
            rust: stable

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true
    - uses: ./.github/actions/install-rust
      with:
        toolchain: ${{ matrix.rust }}
    - run: cargo test --workspace
