on: [push, pull_request]

name: CI

jobs:
  check:
    name: Check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [ubuntu-latest, windows-latest, macos-11]
        include:
          - build: ubuntu-latest
            os: ubuntu-latest
          - build: windows-latest
            os: windows-latest
          - build: macos-11
            os: macos-11
        rust:
          - stable
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    name: Test Suite
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        build: [ubuntu-latest, ubuntu-18.04, windows-latest, windows-2016, macos-11]
        include:
          - build: ubuntu-latest
            os: ubuntu-latest
          - build: ubuntu-18.04
            os: ubuntu-18.04
          - build: windows-latest
            os: windows-latest
          - build: windows-2016
            os: windows-2016
          - build: macos-11
            os: macos-11
        rust:
          - nightly
          - stable
          - 1.48.0
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: test

  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
